# env / secrets
.env
*.env

# python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.receipt_venv/
.venv*/
pip-wheel-metadata/
*.egg-info/

# OS / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# app runtime data
app/data/
app/uploads/
*.db
*.sqlite
*.sqlite3

# logs
*.log

*.ipynb
data_for_test/