version: "3.9"

services:
  api:
    build: .
    container_name: receipt_api
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - app_data:/app/app/data
      - app_uploads:/app/app/uploads
    restart: unless-stopped

  worker:
    build: .
    env_file:
      - .env
    command: ["python", "-m", "app.worker"]
    volumes:
      - app_data:/app/app/data
      - app_uploads:/app/app/uploads
    restart: unless-stopped
    depends_on:
      - api


volumes:
  app_data:
  app_uploads:
